<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.2.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                        http://www.springframework.org/schema/tx
                        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                        http://www.springframework.org/schema/util
                        http://www.springframework.org/schema/util/spring-util-4.2.xsd">


    <!--管理事務的類-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--通知-->
    <!--聲明一個事務，指定事務由誰管理-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <!--配置這個事務建議的屬性-->
        <tx:attributes>
            <tx:method name="save*" propagation="REQUIRED"/>
            <tx:method name="insert*" propagation="REQUIRED"/>
            <tx:method name="add*" propagation="REQUIRED"/>
            <tx:method name="create*" propagation="REQUIRED"/>
            <tx:method name="delete*" propagation="REQUIRED"/>
            <tx:method name="update*" propagation="REQUIRED"/>
            <!--其餘方法執行在默認的讀寫上下文中-->
            <!--<tx:method name="*"/>-->
            <!--指定find开头的方法在只读事务上下文中-->
            <tx:method name="find*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="select*" propagation="SUPPORTS" read-only="true"/>
            <tx:method name="get*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <!--切面-->
    <!--定義一個切麵，匹配FooService接口定義的所有操作-->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.igeek.ebuy.service..*.*(..))"/>
        <!--<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.igeek.ebuy.manager.service..*.*(..))"/>-->

        <!--這裏也可以使用aspectjde的切面表示法-->
        <!-- <aop:pointcut id="fooServiceOperation" expression="execution(* x.y.service.FooService.*(..))"/>-->
        <!--然後用一個感知器把切麵和事務綁在一起-->
        <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="fooServiceOperation"/>-->
    </aop:config>

</beans>
